<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./login.component.css">
    <title>Document</title>
</head>

<body>

    <div class="Forms">
        <h1>Inicio</h1>

        <mat-form-field>
            <input type="text" matInput placeholder="Usuario">
        </mat-form-field>

        <mat-form-field>
            <input type="text" matInput placeholder="Contraseña">
        </mat-form-field>

        

        <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>

        <div class="recuperarContraseña">
            <a href="./contrasenia.html">¿Olvidaste tu contraseña?</a>
        </div>

        <div class="registrar">
            <a href="/register">¿No tienes cuenta? Registrate</a>
        </div>

    </div>

    

</body>

</html>